<%- include("partials/header.ejs")%>
<div class="text-center justify-content-center px-4 py-5 row g-4 py-5 row-cols-4 row-cols-lg-2 {
    height: 200px;
  }">
    <form method="POST" action="/update" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
      <div class="mb-3">
          <input type="text" class="form-control" name="title" value="<%=title%>" required>
      </div>
      <div class="mb-3">
          <textarea rows= "10" class="form-control" name="blogContent" required rows="4"><%=content%></textarea>
          <input type="hidden" name="postId" value="<%= postId %>">
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Submit Changes</button>
      <hr class="my-4">
  </form>
  </div>

<%- include("partials/footer.ejs")%>